
@font-face{
    font-family: 'SystemFont_Header';
    src: url('../fonts/Karla-Regular.ttf') format('truetype');
}



body{
    background: #181818;
    font-family: 'SystemFont_Header';
    margin: 0;
    margin-top: 50px;
    margin-left:16px;
    min-height: 100px;
}

#header_logo{
    color: white;
    width: 100%;
    height: 10%;
    text-align: center;
    position: relative;
    display: inline;
}

#header_logo h1{
    color: white;
    margin: 16px;
}

#emergency_pane{
    width: 100%;
    height: 30%;
    position: relative;
    min-height: 200px;
    padding-top: 5%;
    text-align: center;

}

#emergency_pane button{
    cursor: pointer;
    height: 40%;
    width: auto;
    min-width: 150px;
    min-height: 150px;
    text-align: center;
    border-radius: 100%;
    background-color: brown;
    color: white;
    border-style: none;
    box-shadow: 0px 4px 5px 5px rgba(0, 0, 0, 0.1);   transition: all .2s ease-in-out;
}

#iframe_map{
    border: none;
}

#back, #close{
    float: left;
    margin: 10px;
    display: none;
    border-radius: 5px;
    font-size: 20px;
    transition: all .3s ease-in-out;
}
#back:hover{
    margin: 10px;
    display: none;
    border-radius: 5px;
    background: gold;
    font-size: 20px;
    transition: all .3s ease-in-out;
}
#close:hover{
    margin: 10px;
    display: none;
    border-radius: 5px;
    background: gold;
    font-size: 20px;
    transition: all .3s ease-in-out;
}

#emergency_pane button:hover{
    text-align: center;
    border-radius: 100px;
    background-color: orange;
    color: white;
    border-style: none;
    box-shadow: 0px 4px 5px 5px rgba(0, 0, 0, 0.1);
}


#crowd_report{
    position: relative;
    background: white;
    min-height: 100px;
    min-width: 90%;
    margin: 10px;
    padding-top: 16px;
    border-radius: 5px;
    display: inline-block;
}

#data_container{
    position: relative;
    text-align: center;
    min-height:  30px;
    margin-bottom: 16px;
}

#data_container #bottom_a{
    position: fixed;
    display: none;
}

#data_content{
    position: relative;
    background: white;
    min-height: 100px;
    min-width: 90%;
    margin: 10px;
    border-radius: 5px;
    display: inline-block;
    padding-bottom: 10px;
}

#data_content h1{
    font-size: 14px;
}

input{
    border-radius: 5px;
    font-size: 18px;
    padding: 5px;
}

select{
    height: 25px;
}

@media screen and (max-width: 700px){
    #data_container #bottom_a{
        position: relative;
        display: block;
        width: 100%;
    }
    body{
        margin: 0;
    }

    #emergency_pane button{
        height: auto;
        width: auto;
        min-width: 150px;
        min-height: 150px;
    }
}

@media screen and (min-width: 600px){


    #data_content, #crowd_report{
        float:left;
        width: 250px;
        min-width: 300px;
        min-height: 250px;
    }

}
